.customNav{
    background-color:#FAD8CD;
    height: 100px;
    font-family: 'Akshar', sans-serif;
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
#navbarNav{
    display: block;
    justify-content: center;
    font-size:30px;

}

body{
    margin:20px;
}

.slide1{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
    
}
.slide2{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}
.process1{

    text-align: center;
    padding: 50px;
}
.slide3{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}
.userResearch{
    text-align: center;
    padding: 50px;
}
.slide4{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}
#lowFid{
    display: block;
    padding: 20px;
}
#lowText{
    text-align: center;
}
.slide5{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}

.slide6{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}
.prototypes{
    padding: 20px;
}
.Highfidelity{
    display: block;
     margin-left: auto;
     margin-right: auto;
    width: 50%;
}
.slide7{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.readMore{
    text-align: center;
    padding: 50px;
    
    
}
h3{
    display:inline-block;
    border-style: solid;
    border-radius: 50px;
    border-color:#CE796B;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

}

.caseStudy{
    display:inline-block;
    font-size: 25px;
    border-radius: 50px;
    background-color:#FAD8CD;
    border-style: solid;
    border-color: #CE796B;
    font-family: 'Oswald', sans-serif;
    padding: 20px;

}
.button1{
   display: flex;
   justify-content: center;
}
#readMore{
    text-align: center;
    padding: 50px;
}
footer{
    text-align: right;

}